
.grid{
    display: grid;
}
.grid-cols-2{
    grid-template-columns: 1fr 1fr;
}
.hover\:bg-red-500:hover{
    background: red;
}
@media (min-width: 768px){
    .md\:grid-cols-4{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
